# Week 1 handin

## 01 Assignment
Assignments for week one

## 02 Status
I I got to finish all of the tasks for week 1.

## Iterate a list of names to return a list of the names starting with H

In [1]:
nameList = ["Hans", "Ole", "Hanzo"]

newNameList = [name for name in nameList if name.startswith("H")]

newNameList

['Hans', 'Hanzo']

## In one line create a list of the numbers 1-100 to the power of 3

In [2]:
numberList = [number **3 for number in list(range(101))]
numberList

[0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

# Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name

In [3]:
listOfNames = ["Ole", "Hans", "Phillip", "Gulag"]

#listTuple = [name for name in zip(*[iter(listOfNames) ])]

listTuple = [(len(name), name) for name in listOfNames]

listTuple

[(3, 'Ole'), (4, 'Hans'), (7, 'Phillip'), (5, 'Gulag')]

# Iterate over each character in a string and get only those that are nummeric

In [4]:
myString = "Strin111122"

for element in range(0, len(myString)): 
    if myString[element].isnumeric():
        print(myString[element])

1
1
1
1
2
2

# Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice (hint use 2 for loops in a single list comprehension)

In [5]:
roll_combinations = set([(d1, d2) for d1 in range(1, 7) for d2 in range(1, 7)])
roll_combinations

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

# Iterate a list of names and create a dictionary where key is the name and value is the length of the name

In [6]:
listOfNames = ["Phillip", "Hans", "Ole", "Anders"]

name_dictionary = { name : len(name)  for name in listOfNames }

name_dictionary

{'Phillip': 7, 'Hans': 4, 'Ole': 3, 'Anders': 6}

# Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}

In [10]:
import math 
listOfNumbers = [1,2,5,1,2,3,5,6,7,9,12]

number_dictionary = { number : math.sqrt(number) for number in listOfNumbers }

number_dictionary

{1: 1.0,
 2: 1.4142135623730951,
 5: 2.23606797749979,
 3: 1.7320508075688772,
 6: 2.449489742783178,
 7: 2.6457513110645907,
 9: 3.0,
 12: 3.4641016151377544}